
 * {
  box-sizing: border-box;
 }

body {
  display: flex;
  justify-content: center;
}


/* 
.nolist {
  list-style: 0;
} */

.container {
  max-width: 1750px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}


.box{
  width: 280px;
  height: 280px;
  display: flex;
  flex-wrap: wrap;
  margin: 15px;
  }

.orange {
background-image: url("images/red_machine.png");
}

.white{
  background-image: url("images/white_cup.png");
}

.blue {
  background-image: url("images/blue_pot.png");
}

.yellow {
  background-image: url("images/yellow_expresso.png");
}

@media (max-width: 750px){
  .orange{
    order: 0;
  }
  .white{
    order: 1;
  }
  .blue{
    order: 2;
  }
  .yellow{
    order: 3;
  }
}
