
 * {
  box-sizing: border-box;
 }

body {
  /* width: 100vh; */
  display: flex;
  justify-content: left;
  flex-direction: row;
  flex-wrap: wrap;
}
/* 
.nolist {
  list-style: 0;
} */


.box{
  width: 225px;
  height: 225px;
  display: flex;
  flex-wrap: wrap;
  margin: 1em 1em;
  border: 3px gray;
  }

.orange {
background-color: #ff5e43;
}

.boxWhite{
background-color: white;
}

.boxBlue {
background-color: #dfecf3;
}

.boxYellow {
background-color: #fcf9dd;
}


