
 * {
  box-sizing: border-box;
 }

body {
  display: flex;
  justify-content: center;
}


/* 
.nolist {
  list-style: 0;
} */

.container {
  max-width: 1240px;
  height: 500px;
  display: flex;
  justify-content: left;
  flex-direction: row;
  flex-wrap: wrap;
}


.box{
  width: 240px;
  height: 240px;
  display: flex;
  flex-wrap: wrap;
  margin: 15px;
  }

.orange {
background-image: url("images/red_machine.png");
}

.white{
  background-image: url("images/white_cup.png");
}

.blue {
  background-image: url("images/blue_pot.png");
}

.yellow {
  background-image: url("images/yellow_expresso.png");
}


